body{margin:0;
background-color: #2F2E41;
margin: 71px 99px 23px}

nav{color:white;
    font-family: 'JetBrains Mono', monospace;
font-weight:normal;
display: flex;
justify-content: space-between;
align-items: center;


}

ul{list-style: none;
display:flex;
gap:64px;
justify-content: flex-end;
align-items: center;

}

ul a{text-decoration: none;
color: white
}


ul a :hover {color:aquamarine}




main{display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 101px;
    
    gap: 82px
}

h1{color:white;
    font-family: 'JetBrains Mono', monospace;
    font-weight:bold;
text-align: center}


p{color:#7D7987;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
}

h1 span {color:#00BFA6}
p span {color:#00BFA6}

p strong {color: #C2C2C2;}

div.footer{
    
    border: 10px ;
    height: 55px ;
width: 568px;
margin: 157px auto 23px ;

display:flex;
justify-content: center;


}

footer a {text-decoration: none; color:#ffffff}

footer p {  color:#ffffff;}

#padlock {
left: 0px


}